// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "../node_modules/bootstrap/scss/bootstrap";

::selection {
  background: $primary;
  color: #fff;
}
/* for Firefox <62 */
::-moz-selection {
  background: $primary;
  color: #fff;
}
